{% extends "base.html" %}
{% block content %}


<div class="row">
  {% for post in posts %}
  <div class="column">
    <a href="{% url 'blog:post_detail' pk=post.pk %}" style="text-decoration:none;">
    <div class="card">
      {% if post.postimage %} <img src="{{post.postimage.url}}" style="width:100%"> {% endif %}
      <div class="w3-container">
        <h2>{{ post.title }}</h2>
        <p>Published on: {{post.published_date|date:"D M Y"}}</p>
        <p>{{post.text|truncatechars:200}}</p>
        Comments: {{ post.approve_comments.count }}
      </div>
    </div></a>
  </div>
  {% endfor %}
</div>


{% endblock %}