{% extends "base.html" %}
{% block content %}


{% for post in posts %}

<div class="w3-row-padding w3-margin-top">
  <a href="{% url 'blog:post_detail' pk=post.pk %}">
<div class="w3-half">
    <div class="w3-card">
    {% if post.postimage %} <img src="{{post.postimage.url}}" style="width:100%"> {% endif %}     
      <div class="w3-container">
        <h1>{{ post.title }}</h1>
        <p>Published on: {{post.published_date|date:"D M Y"}}</p>
        <p>{{post.text|truncatechars:200}}</p> 
      Comments: {{ post.approve_comments.count }}
      </div>
    </div>
  </div></a>
</div>

<br>

{% endfor %}



{% endblock %}