.footer {
   position:relative;
   left:0;
   float: bottom;
   height:500px;
   width: 100%;
   background-color:black;
   text-align: center;
}

.qllogo{
	
	height:60px;
	width:60px;
	position:relative;
	float:center;
	top:250px;
}



