.flex-container {
  
    display: flex;
    
    flex-direction: column;
  }

.centerstage{
    margin-left: auto;
    margin-right: auto;

}

.post_detail_img{
    display: block;
    position: relative;
    height: 400px;
    width: auto;

}

.postcontent{
    height:auto;
    width: 100%;

}

.textinputclass{

    height:50px;
    width:100%;

}

.not_approved_comment{
    color:lightseagreen;
}

.navbarsticky{
    position:fixed;
    top:0;
    z-index: 1;

}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

  .commentdate{
    font-size: 8px;

  }

  .approveimg{
    height: 20px;
    width: 20px;

  }