 <div class="divform" id="fd2">
        <!--Contact Form-->
        <div class="form" style="height:400px; width:800px;">
            <br>

            <div id="con_div_1" class="con_sec_frame" style="display:block;background:#9999ff;">
                <!-- contact section1-->
                <span style="font-size:50px; font-family:Segoe UI,Arial,sans-serif; font-weight:bold; position:relative;left:200px;top:10px;"> Contact Us</span>
                <br>
                <span style="position:relative;left:120px;top:30px;font-size:35px;">We will get back to you asap!</span>
                <div class="con_elem_a" onclick="contactswipe1()"><span style="font-size:50px; position:relative; left:170px;">Next</span></div>
            </div>

            <div id="con_div_2" class="con_sec_frame">
                <!--contact section2 name-->
                <span class="con_span_top" style="font-size:25px;color:black;position:relative;left:250px;top:10px;">Full Name</span>
                <br>
                <br>
                <br>
                <input class="inputstyle1" type="text" placeholder="First Name">
                <br>
                <input class="inputstyle1" type="text" placeholder="Last Name">
                <div style="top:5px;" class="con_sec_bottom"><button onclick="contactswipe4r()" class="con_b_btm_left"><span class="con_span_bottom" style="left:-70px;">Previous</span></button><button onclick="contactswipe2()" class="con_b_btm_right"><span class="con_span_bottom">Next</span></button></div>
            </div>

            <div id="con_div_3" class="con_sec_frame">
                <!-- contact section3 email-->
                <span style="top:30px;left:280px;" class="con_span_top">Email</span>
                <input style="top:100px;left:30px;" class="inputstyle1" type="email" placeholder="Email">
                <div class="con_sec_bottom"><button onclick="contactswipe3r()" class="con_b_btm_left"><span class="con_span_bottom" style="left:-70px;">Previous</span></button><button onclick="contactswipe3()" class="con_b_btm_right"><span class="con_span_bottom">Next</span></button></div>
            </div>

            <div id="con_div_4" class="con_sec_frame">
                <!-- contact section4 phone-->
                <span style="top:30px;left:255px;" class="con_span_top">Phone Number</span>
                <input style="top:100px;left:-45px;" class="inputstyle1" type="number" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
                <div class="con_sec_bottom"><button onclick="contactswipe2r()" class="con_b_btm_left"><span class="con_span_bottom" style="left:-70px;">Previous</span></button><button onclick="contactswipe4()" class="con_b_btm_right"><span class="con_span_bottom">Next</span></button></div>
            </div>

            <div id="con_div_5" class="con_sec_frame" style="background:#9999ff;">
                <!-- contact section5 submit-->
                <span style="font-size:45px; font-family:Segoe UI,Arial,sans-serif; font-weight:bold; position:relative;left:200px;top:30px;">Thankyou</span>
                <span style="position:relative;float:center;top:80px;right:100px;font-size:20px;">You may also call us at +91-9999999999</span>
                <div class="con_sec_bottom"><button onclick="contactswipe1r()" class="con_b_btm_left"><span class="con_span_bottom" style="left:-70px;">Previous</span></button><button onclick="" class="con_b_btm_right"><span class="con_span_bottom">Submit</span></button></div>
            </div>


            <script>

     <!--    forward-- ->
                    function contactswipe1() {
                        document.getElementById('con_div_2').classList.toggle("swipecontactbar")
                    };

                function contactswipe2() {
                    document.getElementById('con_div_3').classList.toggle("swipecontactbar")
                };

                function contactswipe3() {
                    document.getElementById('con_div_4').classList.toggle("swipecontactbar")
                };

                function contactswipe4() {
                    document.getElementById('con_div_5').classList.toggle("swipecontactbar")
                };

     < !--backward--->

                    function contactswipe1r() {
                        document.getElementById('con_div_5').classList.toggle("swipecontactbar")
                    };

                function contactswipe2r() {
                    document.getElementById('con_div_4').classList.toggle("swipecontactbar")
                };

                function contactswipe3r() {
                    document.getElementById('con_div_3').classList.toggle("swipecontactbar")
                };

                function contactswipe4r() {
                    document.getElementById('con_div_2').classList.toggle("swipecontactbar")
                };

            </script>

        </div>
    </div><!---end-->