{% extends 'index.html' %}
{% block body_index %}
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
   
<link rel="stylesheet" type="text/css" href="{% static 'css/w3.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-reboot.min.css' %}">



<br>
<br>
<div class="w3-container w3-margin">       
       
       <h1>Profile:</h1>

       <form class='pos-form' method='POST' enctype="multipart/form-data">

       {% csrf_token %}
       {% bootstrap_form form %}

       <button type="submit" class="w3-button w3-small w3-blue-grey">Save</button>

       </form>


</div>

{% endblock body_index %}