{% extends 'index.html' %}
{% block body_block %}
{% load static %}
<!DOCTYPE html>


 <div class="section_A ">

<div class= "section_back" > </div>

  <div class="section1" >

    <img src="{{request.user.profileimages.propic.url}}" class="w3-hover-grayscale" id="profile_image">








  </div>


  <div class="section2">

   <div class="section2_1">

       <div class="user_npl">

           <span class="username">{{user.first_name.upper}} {{ user.last_name.upper}}</span>
           <span class="userlocation tcenter"><img class="smallimg" src="{% static 'png/006-pin.png' %}">JABALPUR, M.P.</span>
            
           <span class="userprofession w3-text-light w3-text-deep-orange">{{detail.profession}}</span>
          
           <div class="starrating">

               <span class="starspan">7.0</span>
               <div class="stars">
                   <img class="starimg" src="{% static 'png/star-3-240.png' %}">
                   <img class="starimg" src="{% static 'png/star-3-240.png' %}">
                   <img class="starimg" src="{% static 'png/star-3-240.png' %}">
                   <img class="starimg" src="{% static 'png/star-thin-240.png' %}">
                   <img class="starimg" src="{% static 'png/star-thin-240.png' %}">
               </div>


           </div>

       </div>

     <div class="sm_con_re">

         <span class="sm_con_re_span">Send Message</span>
         <span class="sm_con_re_span">Contact</span>
         <span class="sm_con_re_span">Report</span>

     </div>

    </div>

   <div class="section2_2">

       <div class="shift_info">
           
           <div class="shift_info_section"><img class="sisimg" src="{% static 'png/user.png' %}"><a class="pca w3-padding-16 tablinks" onclick="openCity(event, 'Personal')">Personal Info</a></div>
           <div class="shift_info_section"><img class="sisimg" src="{% static 'png/identification.png' %}"><a class="pca w3-padding-16 tablinks" onclick="openCity(event, 'Contact')">Contact</a></div>
           <div class="shift_info_section"><img class="sisimg" src="{% static 'png/sketchbook.png' %}"><a class="pca w3-padding-16 tablinks" onclick="openCity(event, 'Activity')">Activity</a></div>
           
       </div>
       <br>
       <div class="user_detail w3-container tabcontent w3-animate-right" id="Personal">

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3 w3-padding-16  ">Name:</div>
               <div class="w3-col m7 w3-padding-16  w3-text-blue">{{user.first_name.upper}} {{user.last_name.upper}}</div>
           </div>
           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3 w3-padding-16  ">Birth Date:</div>
               <div class="w3-col m7 w3-padding-16  ">{{detail.birth_date}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3 w3-padding-16  ">Gender:</div>
               <div class="w3-col m7 w3-padding-16  ">{{detail.gender}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3  w3-padding-16  ">Age:</div>
               <div class="w3-col m7  w3-padding-16  ">{{detail.age}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3  w3-padding-16  ">Profession:</div>
               <div class="w3-col m7  w3-padding-16  w3-text-blue">{{detail.profession}}</div>
           </div>

       </div>


       <div class="user_detail_2 w3-container tabcontent w3-animate-right" id="Contact">

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3 w3-padding-16  ">Username:</div>
               <div class="w3-col m7 w3-padding-16  ">{{user.username}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3 w3-padding-16  ">Mobile:</div>
               <div class="w3-col m7 w3-padding-16  w3-text-blue">{{detail.phone_number}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3 w3-padding-16  ">Email:</div>
               <div class="w3-col m7 w3-padding-16  w3-text-blue">{{user.email}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3  w3-padding-16  ">Address:</div>
               <div class="w3-col m7  w3-padding-16  ">{{detail.address}}</div>
           </div>

           <div class="w3-row  w3-padding-8">
               <div class="w3-col m3  w3-padding-16  ">Country:</div>
               <div class="w3-col m7  w3-padding-16  ">{{detail.country}}</div>
           </div>

       </div>

       <div class="user_detail_3 w3-container tabcontent w3-animate-right" id="Activity">
        
        no activities yet...

       </div>

       <script>

           function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
             tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
               tabcontent[i].style.display = "none";
             }
             tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
             tablinks[i].className = tablinks[i].className.replace(" active", "");
             }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
           
           }  

       </script>






   </div>

 </div>

{% endblock %}